{% for port in "2700,2701" %}
  pmm-admin add mongodb --username=mongodb_exporter --password={{ mongodb_exporter_pass }} --use-profiler --cluster MongoCluster --server-insecure-tls --server-url=https://admin:admin@{{ pmm_ip_address }}:443/ --skip-connection-check localhost:{{ port }} {{ inventory_hostname }}-{{ port }}
{% endfor %}
