{% for host in groups['pmm_client_servers'] %}
  pmm-admin add mongodb --uri mongodb://mongodb_exporter:{{ mongodb_exporter_pass }}@localhost:{{ hostvars[host]['mongod_port'] }}/admin --cluster MongoCluster {{ ansible_hostname }}-{{ hostvars[host]['mongod_port']  }}
  pmm-admin repair
{% endfor %}
