sleep $(($RANDOM%10+10)); cd /opt/sysbench-tpcc && /usr/bin/env /usr/bin/sysbench tpcc.lua --pgsql-host=10.0.0.10 --pgsql-user=sysbench --pgsql-password=sysbench --pgsql-db=sysbench --time=20 --threads=1 --report-interval=1 --tables=4 --scale=0.3 --use_fk=0 --trx_level=RC --db-driver=pgsql run
